body, html {
    margin: 0;
}

.window {
    color: #ababab;
    z-index: 9999;
    background-color: #212121;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.subwindow {
    margin: auto;
    background-color: #131313;
    left: 10%;
    bottom: 10%;
    height: 90%;
    width: 90%;
}

.frame {
    background-color: #f3f3f3;
}

.tm_topbar {
    background: #000;
    display: block;
    width: 100%;
    height: 35px;
}

.tm_body {
    overflow: auto;
    width: 100%;
    height: calc(100% - 69px);
    padding: 2px;
}

.tm_commandbar {
    height: 30px;
    width: 100%;
}

.tm_commandbar > input {
    width: calc(100% - 5px);
    height: 100%;
    padding: 0;
    background-color: #212121;
    color: white;
    padding-left: 5px;
    display: block;
    margin: 2px auto;
    outline: none;
    border: 1px solid transparent;
    transition: 0.2s all;
    border-radius: 2px;
}

.tm_commandbar > input:focus {
    border: 1px solid #505050;
}

.tm_body > .message {
    font-size: 13px;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.tm_body > .message > .line {
    font-family: inherit;
    font-size: inherit;
}