/*SPOILER*/
spoiler {
    background-color: #181919;
    color: #fff;
}

spoiler::before {
    color: #fff;
    border-bottom-color: #262929b5;
}
/*CODE*/
code {
    background-color: #1c1d1d;
    border-color: #0000006b;
}
code > div.head {
    border-bottom-color: #262929b5;
}
code > div.head > h1 {
    color: #fff;
}
code > div.source > span {
    color: #bfbfbf;
}
