/*SPOILER*/
spoiler {
    background-color: #24272b;
    border: 1px solid #384242b5;
    color: #fff;
}

spoiler::before {
    color: #fff;
    border-bottom-color: inherit;
}
/*CODE*/
code {
    background-color: #272a2f;
    border-color: #384242b5;
}
code > div.head {
    border-bottom-color: inherit;
}
code > div.head > h1 {
    color: #fff;
}
code > div.source > span {
    color: #bfbfbf;
}
