a[href*='forum/t/']:not([state='Read']){
    font-weight: 700;
}

a[href][state]::before {
    font-weight: initial;
    content: "";
    margin: 4px;
    padding: 4px 4px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    display: inline-block;
}

a[href][state = Waiting]::before {
    content: "W";
    background-color: rgba(255, 166, 0, 0.5);
}

a[href][state = Read]::before {
    content: "R";
    background-color: #28822896;
}
a[href][state = Unread]::before, a[href][state = Unregistered]::before {
    content: "U";
    background-color: #a8242499;
}
a[href][state = Unknown]::before {
    content: "?";
    background-color: #a8242499;
}

.wrd-title-tag {
    color: orange;
    font-weight: inherit;
}