.thread-title-anchor {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.thread-title-tag {
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    display: inline-flex;
    /* font-family: sans-serif; */
    font-size: 8pt;
    height: 2vh;
    min-width: 2vw;
    width: auto;
    padding: 0 4px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 0.2vw;
    border-radius: 4px;
}
